.card {
    margin: 10%;
    padding: 1.75%;

}


img {
    width: 180px;
    border-radius: 50%;
    padding: 5%;
}

.label {
    margin-bottom: 0;
    margin-top: auto;
}

.area {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(46, 108, 145);
}

.area1 {
    margin: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.area2 {
    margin: 2%;
    text-align: end;
    grid-column-start: 3;
    grid-column-end: 4;
}

.button {
    background-color: rgb(115, 200, 226);
    color: white;
    text-align: center;
    height: 60%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    border-color: black
}

.button:hover {
    background-color: rgb(69, 153, 209);
    color: rgb(248, 239, 239);
}

footer {
    position: fixed;
    bottom: 0;
}

.footer {

    background-color: rgb(122, 178, 194);
    width: 100%;
    line-height: 1.5;
    text-align: center;
    color: rgb(255, 249, 249);

}

a {
    color: #000000;
}